@charset "utf-8";

*{
  box-sizing:border-box
}

*:after,*.before{
  box-sizing:border-box
}

html,body,div,main,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
  box-sizing:border-box;
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary,main{
  display:block
}

*{
  -webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased
}

a{
  text-decoration:none
}

body{
  line-height:1
}
a{
  cursor:pointer
}
input[type="submit"],input[type="button"]{
  cursor:pointer;
  margin-top: 15px;
}
button,label[for]{
  cursor:pointer
}
img{
  -ms-interpolation-mode:bicubic
}
html{
  height:100%
}

body {
/*   min-height:100vh;
  min-width:100vw; */
/*   background-color:white; */
  /* background-image:url(img/bg.jpg); */
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center bottom;
  overflow:hidden;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
/*   justify-content:center;
  align-items:center; */
}

main{
  width:100%;
  color:black;
  margin-left:auto;
  margin-right:auto;
}

h1, h2 {
  text-align:center;
}

h1 {
  color: #274156;
}

h2 {
  color: #605856;
}

/* Jeppe trying */
.banner {
  min-height:90vh;
  min-width:90vw;
  justify-content:center;
  align-items:center;
  vertical-align:middle;
  display:flex;
  background-color: #fff;
}

.scrolldownicon {
  position: absolute;
  left: 50%;
  right: 0px;
  bottom: 7%;
  z-index: 1;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background-color: white;
  box-shadow: rgba(103, 117, 130, 0.3) 7px -7px 50px -10px;
  transform: translate(-50%, 0px);
}

.pagecontent {
  /* background-image: radial-gradient(circle farthest-corner at 50% 50%, #22b797 46%, #15909f); */
  background-color: #d0ccd0;
  padding: 3%;
  min-width:80vw;
}

.pagecontainer {
  display:block;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  padding: 3%;
}

.pagecontainerspecial {
  display:block;
  background-color: #d0ccd0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2%;
}

.titlewrapper {
  text-align: center;
}

.headerparagraph {
  padding: 15px;
}

.columns {
  display: flex;
}

.colone, .coltwo, .colthree {
    width: 33vw;
    float: left;
    margin-top: 5%;
    padding: 5%;
}

.colthree {
    margin-right:0;
}

.clear {
  clear: both;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

.cardpic {
  align-content: center;
  display: block; 
  max-width: 40%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
}

.cardcontent {
  text-align: center;
}

.cardhead {
  margin-bottom: 5%;
}

.demopic {
  align-content: center;
  display: block; 
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

/* Navbar */
.navpic {
  max-width: 10vh
}

.anav {
  background-image: none !important;
}

.anavitem {
  padding-top: 1rem;
  padding-right: 1rem !important;
  background-image: none !important;
}

/* Big section */
.bigsection {
  position: relative;
  background-color: rgb(208, 204, 208);
}

.sectioncontain {
  position: relative;
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 35px;
}

.menuleft {
  padding-top: 25px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: white;
  background-image: url(https://uploads-ssl.webflow.com/5b674b7…/5b674b7…_bookmark-tag.png);
  background-size: 20px;
  box-shadow: rgba(160, 160, 160, 0.95) 0px 0px 17px -5px;
  background-position: 91% 0px;
  background-repeat: no-repeat;
}

.inforight {
  width: 72%;
  padding-bottom: 20px;
  padding-left: 15px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.topdashbar {
  display: flex;
  margin-right: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  box-shadow: rgba(160, 160, 160, 0.19) 0px 0px 12px 0px;
}


/* Rest */

.heading {
  margin-bottom:13px;
  text-align:center;
}

.links{
  display: block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.link{
  margin:5px;
  max-height: 200px;
  max-width: 640px;
  min-height:50px;
  min-width: 160px;
}
.hide-default{
  display:none;
}
.invalid-email{
  border-color: red;
  border-width:1px;
  border-style: solid;
}
.email{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #3b5998;
  margin-top: 15px;
  position: relative;
  color: #fff;
  border: none;
  padding: 1.25em 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}
button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
button:focus {
  outline: none;
}

.buttonsmall {
  background-color: #d0ccd0;
  margin-top: 15px;
  position: relative;
  color: #fff;
  border: none;
  padding: 0.25em 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}
.buttonsmall:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.buttonsmall:focus {
  outline: none;
}

form{
  margin-top:4rem;
  margin-bottom:4rem;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
}

/**
 * Overlay
 * -- only show for tablet and up
 */
@media only screen and (min-width: 40em) {
  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .modal-overlay.active {
    opacity: 1;
    visibility: visible;
  }
}
/**
 * Modal
 */
.modal {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 350px;
  max-width: 75rem;
  min-height: 20rem;
  padding: 1rem;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.modal .close-modal {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 15px;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.3s;
}
.modal .close-modal svg {
  width: 1.75em;
  height: 1.75em;
}
.modal .modal-content {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition-delay: 0.3s;
}
.modal.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.modal.active .modal-content {
  opacity: 1;
}
.modal.active .close-modal {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 1;
}

/**
 * Mobile styling
 */
@media only screen and (max-width: 39.9375em) {

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    padding: 0 !important;
  }

  .close-modal {
    right: 20px !important;
  }
}

.modal-title {
  line-height:1em;
  letter-spacing:0.05em;
  color:black;
  margin-bottom:1rem;
  text-transform:uppercase;
}

.modal-desc {
  color: grey;
  margin-bottom: 20px;
}

.input-field {
  text-align: left;
  padding: 10px;
  margin-bottom: 5px;
}

label {
  color: grey;
  text-align: left;
}

input[type="text"], input[type="email"] {
  width: 100%;
  padding: 3px 8px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  margin-top: 2px;
}

.submit-button {
  background-color: #3b5998;
  margin-top: 15px;
  position: relative;
  color: #fff;
  border: none;
  padding: 1.25em 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}

.submit-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

footer{
  position:absolute;
  bottom:10%;
  left:0;
  right:0;
  padding:3rem;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between
}
footer a,footer small{
  color:lightgrey;
  text-transform:uppercase;
  letter-spacing:0.25em
}
/*# sourceMappingURL=style.css.map */
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: black;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
